<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>InitTab</title>
	<link rel="stylesheet" href="build/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<div class="nav" id="search">
		<button class="nav-add" type="button" data-add>+</button>
		<input type="text" class="nav-search">
	</div>
	<main id="main">main</main>

	<script id="BlocksComposite-template" type="text/html">
		<div class="blocksWrapper" data-blocks></div>
	</script>

	<script id="BlocksEmpty-template" type="text/html">
		<% if(model.query){ %>
			<% if(collection.length > 0) { %>
				<small>Nie znalazłem nic w Twoich <strong><%- collection.length %></strong> speedialach...</small> <br>
			<% } %>
			Szukaj w Google <strong>"<%- model.query %>"</strong>
		<% } else { %>
			...
		<% } %>
	</script>

	<script id="BlockItem-template" type="text/html">
		<% if(!thumbnail) thumbnail = 'http://9px.pl/300x100/FFF/444/'+title %>
		<a href="<%= url %>" class="block-image" style="background-image: url('<%- thumbnail %>');">
			<span class="block-title">
				<%- title %>
			</span>
		</a>
		<button class="block-destroy" type="button" data-destroy>&times;</button>
		<button class="block-edit" type="button" data-edit>&bull;</button>
	</script>

	<script id="BlockItemForm-template" type="text/html">
		<form>
			<label class="label">
				<b class="label-name">Tytuł:</b>
				<input type="text" value="<%- title %>" name="title" class="input input--full">
			</label>
			<label class="label">
				<b class="label-name">Adres:</b>
				<input type="url" value="<%- url %>" name="url" class="input input--full">
			</label>
			<label class="label">
				<b class="label-name">Ikonka:</b>
				<input type="url" value="<%- thumbnail %>" name="thumbnail" class="input input--full">
			</label>
			<p class="alignCenter">
				<button class="button">Zapisz</button>
			</p>
		</form>
	</script>

	<script src="build/all.js"></script>
</body>
</html>